*.log
#wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz


!.htaccess
!wp-content/uploads/
.DS_Store
._.DS_Store
.idea

wp-install.sh
wp-options.sh
wp-create-repo.sh

node_modules
dev
builds
pass*
bitmaps_test

.tmpTemplater
.tmpPreproc

npm-debug.log
phantomjsdriver.log
/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*

